VITE_INDEXER_URL=http://localhost:5001
VITE_RPC_URL=http://localhost:26657
VITE_API_URL=http://localhost:5337
# Optional, defaults to vknowable/mock-registry
VITE_REGISTRY_REPO=vknowable/mock-registry
# Optional, defaults to main
VITE_REGISTRY_BRANCH=main